@import "tailwindcss";

:root {
    --palette-900: #092635;
    --palette-700: #1b4242; 
    --palette-500: #5c8374; 
    --palette-200: #9ec8b9; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
